<h1>Home</h1>

<section class='container'>

  <div class='card'>
    <div class='card-top'>
      <img
        src='https://yt3.ggpht.com/ytc/AKedOLTC0WZ_NhOU0cGxMrIlEug-0nbCbOQBgUA1-TCb=s900-c-k-c0x00ffffff-no-rj'
        alt='poke logo'
      />
    </div>
    <div class='card-title'>
      <a href='/pokedex' class='card-text'>Visit the pokedex</a>
    </div>
  </div>

  <div class='card'>
    <div class='card-top'>
      <img
        src='https://external-preview.redd.it/oqKx4_OCE9GDuT0Y01awGIGufPKnrESApuOeuqrlsiU.png?auto=webp&s=0d28e05935d39405bcf5dacd777fdbd2d8fc0744'
        alt='bag logo'
      />
    </div>
    <div class='card-title'>
      <a href='/items' class='card-text'>Visit the item wiki</a>
    </div>
  </div>

</section>